<footer class="footer">
    <div class="social--footer">
	   	<div id="social" style="width:100%;">
							<ul class="share-buttons">
							<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.cai-cai.me&t=CaiCai" target="_blank"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Facebook.png"></a></li>
							<li><a href="https://twitter.com/intent/tweet?source=https://www.cai-cai.me&text=CaiCai: https://www.cai-cai.me" target="_blank" title="Tweet"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Twitter.png"></a></li>
							<li><a href="https://plus.google.com/share?url=https://www.cai-cai.me" target="_blank" title="Share on Google+"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Google+.png"></a></li>
							<li><a href="http://www.tumblr.com/share?v=3&u=https://www.cai-cai.me&t=CaiCai&s=" target="_blank" title="Post to Tumblr"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Tumblr.png"></a></li>
							<li><a href="http://pinterest.com/pin/create/button/?url=https://www.cai-cai.me&description=UX & UI Designer" target="_blank" title="Pin it"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Pinterest.png"></a></li>
							<li><a href="https://getpocket.com/save?url=https://www.cai-cai.me&title=CaiCai" target="_blank" title="Add to Pocket"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Pocket.png"></a></li>
							<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.cai-cai.me&title=CaiCai&summary=UX & UI Designer.&source=https://www.cai-cai.me" target="_blank" title="Share on LinkedIn"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/LinkedIn.png"></a></li>
							<li><a href="http://wordpress.com/press-this.php?u=https://www.cai-cai.me&t=CaiCai&s=UX & UI Designer." target="_blank" title="Publish on WordPress"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Wordpress.png"></a></li>
							<li><a href="mailto:?subject=CaiCai&body=UX & UI Designer.: https://www.cai-cai.me" target="_blank" title="Email"><img src="https://caicai-yun.b0.upaiyun.com/caicai/img/flat_web_icon_set/color/Email.png"></a></li>
						 </ul>
				</div>
	</div>

    <div class="footer__copyrights">
         <p class="footer__text footer__copyright-text">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved. Designed by <a href="https://www.cai-cai.me">CaiCai</a></p>
         <p class="footer__text footer__powered-by">Proudly published with <a class="footer__ghost-icon" href="http://ghost.org">Ghost</a></p>
    </div>
</footer>